synthesizer/saved_models
synthesizer/pre_trained
feedback_synthesizer/saved_models
vocoder/saved_models
vocoder/pretrained
deep_speaker/data_vox12/vox12_train_aug.csv
deep_speaker/vox12_resnet34
deep_speaker/log
deep_speaker/database
datasets/aishell3/wavs
datasets/aishell3/synthesizer/audio
datasets/aishell3/synthesizer/embeds
datasets/aishell3/synthesizer/mels
!.gitignore

tf_multispeaker
pretrained
.ipynb_checkpoints

/**/__pycache__

