synthesizer/saved_models
synthesizer/pre_trained
feedback_synthesizer/saved_models
vocoder/saved_models
vocoder/pretrained
deep_speaker/data_vox12/vox12_train_aug.csv
deep_speaker/vox12_resnet34
deep_speaker/log
deep_speaker/database
datasets/*/wavs
datasets/*/audio
datasets/*/embeds
datasets/*/mels
datasets/*/mels_vad/
datasets/*/train.txt
!.gitignore

tf_multispeaker
pretrained
.ipynb_checkpoints

/**/__pycache__

